
<!DOCTYPE html>
<html>
<body ng-app>
    <h1>Databinding</h1>

    <div ng-init="firstName='John'; lastName='Doe';">
        <strong>First name:</strong> {{firstName}} <br />
        <strong>Last name:</strong> <span ng-bind="lastName" />
    </div>
  @RenderPage("~/Shared/_bootstrap.cshtml")



 <div class="jumbotron">
  <h1>Techie Bootstrap 3 Skin</h1>
  <p>Download this free Bootstrap 3 skin only from <a href="http://bootstraptaste.com">Bootstraptaste</a></p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
</body>
