<div class="container">
    <div class="row">
        <div class="col-md-5">
             <img src="http://placehold.it/350x150" class="img-responsive">
        </div>

    <div class="col-md-7">
      <h3 style="margin-bottom: 20px; outline: none;">UNDERSTANDING SIMPLE INTEREST</h3>
        <p>What exactly does "simple interest" mean? It's a common question with a simple answer.</p>

       <p> In short, simple interest accrues on a daily basis and is based on the remaining unpaid principal on the contract. Each payment you make will first pay down any accrued interest, then the rest will apply to the principal or other applicable fees.</p>

       <p> Click the video for an illustration on how simple interest works or see our most frequently asked questions below.</p>
    </div>

    </div>
<div class="row">
<div class="col-md-12">


 <div class="spacing faq-item faq-main-item">
          <h3 style="margin-bottom: 20px; outline: none;">Frequently Asked Questions</h3>
          <div id="faq-lease" class="faq-item-content">

            <a name="1" href="#"></a>
            <div class="faq-item">
              <h3><a href="#faq-lease-01" class="openclose-trigger">What are the benefits of leasing?</a></h3>
              <div id="faq-lease-01" class="openclose-hidden faq-item-content" style="display:none;">
                <p>With a lease, payments may be lower than purchasing the same vehicle, since you only pay for the portion of the vehicle you use over the term of the lease. You can consider vehicles that have more options; trade in your vehicle for the latest model more frequently; and, align the lease term to the vehicle warranty period for greater peace of mind.</p>
              </div>
            </div>
            <a name="2" href="#"></a>
            <div class="faq-item">
              <h3><a href="#faq-lease-02" class="openclose-trigger">Does leasing require less money up front?</a></h3>
              <div id="faq-lease-02" class="openclose-hidden faq-item-content open" style="">
                <p>The down payment amount for leasing a vehicle varies based on the lease transaction structure and monthly payment you desire, but generally, may be lower than buying.</p>
              </div>

            </div>
            <a name="3" href="#"></a>
            <div class="faq-item">
              <h3><a href="#faq-lease-03" class="openclose-trigger">With a lease, am I protected from possible negative equity?</a></h3>
              <div id="faq-lease-03" class="openclose-hidden faq-item-content" style="display:none;">
                <p>With a lease, you avoid the potential risk that your vehicle’s value has declined beyond its projected residual value at the end of your lease term.</p>
              </div>

            </div>
            <a name="4" href="#"></a>
            <div class="faq-item">
              <h3><a href="#faq-lease-04" class="openclose-trigger">What happens at the end of a lease?</a></h3>
              <div id="faq-lease-04" class="openclose-hidden faq-item-content" style="display:none;">
                <p>At the end of term, you have the option to purchase the vehicle or turn it in, subject to the terms outlined in your lease agreement. GM Financial will communicate with you prior to the end of your lease to guide you through the end of lease process.</p>
              </div>

            </div>
            <a name="5" href="#"></a>
            <div class="faq-item">
              <h3><a href="#faq-lease-05" class="openclose-trigger">Is leasing right for me?</a></h3>
              <div id="faq-lease-05" class="openclose-hidden faq-item-content" style="display:none;">
                <p>Leasing may not be for everyone, but for many it’s the right fit. This information is for general information purposes only. For specific limitations, rules and restrictions on any specific financing, contact your dealer.</p>
              </div>
            </div>
              </div>
              <div class="spacing">
               <p>If you would like to learn more about Payments see our <a href="#">Payments FAQ</a>, or <a href="#">Contact us</a>.</p></div>

          </div>

</div>
</div>


</div>
