@{
    ViewData["Title"] = "About hey";
}


<h2>Aspnet Simple Cal with Angular</h2>
<p>Use thisssss area to provide additional information.</p>
<body>


<div class="container"style="border:1px solid red;">
    <div class="row">
        <h1>Calculator</h1>
    {{2+2}}
    </div>
</div>









</body>
