

 <!DOCTYPE html>
<html>
  <head>
    <title>Main Page</title>
  </head>
  <body>
@{Html.RenderPartial("_Header");}
    <h1>Content Page Content</h1>
    <p>This is the content of the main page.</p>
@{Html.RenderPartial("_Footer");}

  </body>
</html>
