

 <!DOCTYPE html>
<html>
  <head>
    <title>Main Page</title>
  </head>
  <body>
@{Html.RenderPartial("_Header");}
@{Html.RenderPartial("_GMF");}
 @{Html.RenderPartial("_Calculator");}
@{Html.RenderPartial("_Footer");}

  </body>
</html>
