body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/* FAQ
------------------------------------------------------------------------------------------*/
/* new */
.faq-item h3 a {color: #a2aaaf; display: block; padding: 14px 60px 10px 20px;font: 14px/1.2 "FFMarkWebProMedium"; text-transform:none; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;border-top: 1px solid #e4e4e5;border-bottom: 0; background-image: url("/images/misc/expand-arrow.png"); background-repeat: no-repeat; background-position: right 18px;}
.faq-main-item>h3 a {background-position: right 28px;}
.faq-main-item>h3 a.active {color: #2f373e;background-position: right -172px!important; }
html.no-svg .faq-item h3 a {background-image: url("/images/misc/expand-arrow.png"); }
.faq-item h3 a.active {color: #2f373e;background-position: right -180px; }
.faq-item h3 a:hover {color: #0ea1ef;border-top: 1px solid #e4e4e5; }
.faq-item:last-of-type {border-bottom: 1px solid #e4e4e5; }
.faq-item-content {-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; /*padding-left: 20px;*/ font: 14px/1.5 "FFMarkWebPro"; /*border-left: 4px solid #ebeff6;*/margin-left: 0; margin-right: 0; padding-left: 0;}
.faq-item-content .faq-item-content {border-left: 4px solid #ebeff6!important; padding-left: 20px; margin-left:50px; margin-right:50px;}
.faq-item .faq-item-content {border-left:2px solid #0ea1ef;}
.faq-item-content a:before{
    display:none;
}
.page-content-primary.surface.faqs .section-sub-head { padding-left: 20px; margin-bottom: 24px;}
.faq-main-item h3, .faq-main-item h3 a {margin: 0;}
.faq-main-item>h3 a {padding-top: 24px!important; padding-bottom: 24px!important;}
/* media q*/
.faq-item h3 a {font-size: 16px; padding: 18px 80px 14px 40px;}
/*.faq-item-content {margin-left: 70px; margin-right: 70px;}*/
.page-content-primary.surface.faqs .section-sub-head {padding-left: 40px;}


